@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-5 offset-3">
        <div class="card border-secondary mb-3">
            <div class="card-header">@ViewData["Title"]</div>
            <div class="card-body">
                <div class="text-danger" asp-validation-summary="All"></div>
                <form class="form-horizontal" method="post" asp-action="Register">
                    <div class="form-group">
                        <label asp-for="FullName" class="cols-sm-2 control-label"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input asp-for="FullName" type="text" class="form-control" id="name" placeholder="Enter your full name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="cols-sm-2 control-label"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Enter your Email" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="cols-sm-2 control-label"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input asp-for="UserName" type="text" class="form-control" id="username" placeholder="Enter your Username" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="cols-sm-2 control-label"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Enter your Password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="cols-sm-2 control-label"></label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirm" placeholder="Confirm your Password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                    </div>
                    <div class="login-register">
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

