<div class="form-group">
    <label for="todoListName">To Do List Name</label>
    <input type="email" class="form-control" id="todoListName" aria-describedby="emailHelp" placeholder="e.g. Design patterns">
</div>