<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootswatch/materia/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/brands.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/solid.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @*<a class="navbar-brand" href="#">Todo Application</a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
            </ul>
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav mr-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav mr-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="SignOut">Logout</a>
                    </li>
                </ul>
            }
        </div>
    </nav>
    <div class="container-fluid mt-4">
        @RenderBody()
    </div>


    <section id="left-side">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">Todo List</a>
        </div>
        <div class="section-menu">
            @if (User.Identity.IsAuthenticated)
            {
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fas fa-clipboard-list"></i>
                            To Do List
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class="fas fa-user"></i>
                            Account
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            }
        </div>
    </section>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/axios/axios.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
